/* font-family: "Poppins", sans-serif; */
:root{
    --font-colour: #040222;
    --bg-color1:#1a1036;
    --white-color:#fff;
    --bg-purple-shade1:#1c113b;
    --bg-purple-shade2:#5920c5;
    --bg-purple-shade3:#5c5677;
    --btn-hover-color: #f79443;


    --transition:0.3s ease-in-out;
}
*{
    margin: 0px;
	padding: 0px;
	border: none;
	outline: none;
	box-sizing: border-box;
}

body{
    color: var(--font-colour);
	font-size: 1.2rem;
    font-family: "Cuprum", sans-serif;
}
ul{
    padding: 0;
    margin: 0;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}

.get-quote{
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--white-color);
    padding: 0.5rem 0;
    border-radius: 0.5rem;
    color: var(--font-colour);
    transition: var(--transition);
}
.get-quote:hover{
    background: var(--btn-hover-color);
    color: var(--white-color);
}
.heading-bx{
    text-align: center;
}

.heading-bx h2{
    font-size: 3rem;
    font-weight: 600;
}

.heading-bx h2 span{
    color: var(--bg-purple-shade2);
}
/* --- reusable Code --- */
.sec-padding{
    padding: 4rem 0;
}

/* --- Header --- */
header{
    padding: 1.5rem 0;
    background: var(--bg-color1);
    border-bottom: 1px solid var(--bg-purple-shade1);
    position:sticky;
    top:0;
    z-index:1000;
    /* background:rgba(15,10,31,.92); */
    backdrop-filter:blur(18px);
    border-bottom:1px solid rgba(255,255,255,.08);
}
.nav-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    font-size: 2rem;
    font-weight: bold;
    cursor: pointer;
}
.logo:hover{
    color: var(--white-color);
}
.nav-links-bx{
    display: flex;
    align-items: center;
    gap: 2rem;
}
.navlinks ul{
    display: flex;
    align-items: center;
    gap:1rem;
}
.navlinks ul li a{
    color: var(--white-color);
    transition: var(--transition);
}
.navlinks ul li a:hover{
    color: var(--btn-hover-color);
}
.other-nav-link ul{
    display: flex;
    align-items: center;
    gap: 2rem;
}
.other-nav-link ul li a{
    color: var(--white-color);
    transition: var(--transition);
}
.other-nav-link ul li a:hover{
    color: var(--btn-hover-color);
}
.other-nav-link ul li .get-quote{
    display: flex;
    align-items: center;
    background: var(--white-color);
    padding: 0.5rem 1.5rem;
    border-radius: 0.5rem;
    color: var(--font-colour);
    transition: var(--transition);
}
.other-nav-link ul li .get-quote:hover{
    background: var(--btn-hover-color);
    color: var(--white-color);
}
.logo{
    color: var(--white-color);
}



/* --- Hero section --- */
.hero-sec{
    /* background-image:  linear-gradient(180deg,var(--bg-purple-shade1) 0%, var(--bg-purple-shade2) 40%, var(--bg-purple-shade3) 100%); */
    background: linear-gradient(60deg, rgba(255,255,255,0.12) 10%, rgba(255,255,255,0) 25%),
      linear-gradient(180deg, rgba(255,255,255,0.08) 0%, rgba(255,255,255,0) 90%),
      radial-gradient(60% 55% at 55% 45%, rgba(89, 32, 197, 0) 0%, rgba(92, 86, 119, 0.28) 45%, rgba(89, 32, 197, 0.18) 65%, rgba(28, 17, 59, 0) 100%),
      linear-gradient(235deg, rgba(255,255,255,0) 8%, rgba(89, 32, 197, 0.35) 30%, rgba(92, 86, 119, 0.18) 52%, rgba(255,255,255,0) 75%),
      linear-gradient(225deg, rgba(255,255,255,0) 42%, rgba(126, 87, 255, 0.24) 63%, rgba(28, 17, 59, 0.4) 100%),
      linear-gradient(135deg, #1c113b 0%, #2b1857 35%, #5920c5 70%, #5c5677 100%);
}
.hero-content{
    margin-top:5rem;
}
.hero-content h1{
    font-size: 4rem;
    color: var(--white-color);
    margin-bottom: 1rem;

}
.hero-content h1 span{
    color: #f79443;
}
.hero-content p{
    color: var(--white-color);
    margin-bottom: 2rem;
    font-size: 1.4rem;
}

.hero-btn .get-quote{
    width: 180px;
    padding: 1rem 0;
    
}
.hero-btn .get-quote:hover{
    transform: translateY(-4px);
}
.explore-btn .get-quote{
    border: 1px solid rgba(255, 255, 255, .2);
    background: rgba(255, 255, 255, .05);
    backdrop-filter: blur(14px);
    color: var(--white-color);
}


.quote-card {
    background: rgba(255, 255, 255, .08);
    backdrop-filter: blur(18px);
    border: 1px solid rgba(255, 255, 255, .1);
    padding: 35px;
    border-radius: 28px;
    box-shadow: 0 20px 60px rgba(0, 0, 0, .35);
}

.quote-card h3 {
    font-size: 28px;
    margin-bottom: 20px;
    color: var(--white-color);
}

.form-group {
    margin-bottom: 18px;
}

.form-group input, .form-group select, .form-group textarea {
    width: 100%;
    padding: 15px;
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, .1);
    background: rgba(255, 255, 255, .06);
    color: #fff;
    outline: none;
}
.form-group select option{
    background: #1c113b;
    color: #fff;
}

.form-group input::placeholder{
    color: var(--white-color);
}
.form-group textarea::placeholder{
    color: var(--white-color);
}

.btn {
    padding: 15px 28px;
    border-radius: 14px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    transition: .3s;
}

.primary-btn {
    background: #8d5cff;
}

.form-bx .primary-btn {
    background: #8d5cff;
    color: var(--white-color);
}
.submit-btn {
    width: 100%;
    border: none;
    cursor: pointer;
}


.insurance-type{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--white-color);
    border-radius: 0.8rem;
    padding: 1.5rem 1rem;    
}
.insurance-type ul{
    display: flex;
    align-items: center;
    gap: 1rem;
}
.insurance-type ul li{
    padding: 0.7rem 1.5rem;
    border-radius: 0.5rem;
    box-shadow: 0 0 15px #a7a7a7;
    transition: var(--transition);
}
.insurance-type ul li:hover{
    transform: translateY(-5px);
}
.insurance-type ul li a{
    color: var(--font-colour);
}

.insurance-type .get-quote{
    width: 140px;
    background:#f79443;
    color: var(--white-color);
    margin-bottom: inherit;
}

.insurance-type-title {
    font-size: 1.5rem;
}

.slider-bx{
    height: 227px;
    background: #fff;
    border-radius: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* -- Expertize Section -- */

.expertize-items{
    display: flex;
    align-items: center;
    justify-content: center;
}
.expertize-items img{
    width: 60%;
}
.cards{
    padding: 2rem;
    position: relative;
    z-index: 1;
    border-radius: 1rem;
    overflow: hidden;
    background: linear-gradient(180deg, #fbf7ff, #f9f8fc 45.31%, #f5f2f9);
}
.cards::after{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    height: 200px;
    width: 170px;
    background-image: url(../img/circle-shape1.svg);
    background-repeat: no-repeat;
    z-index: 5;
}
.card-img{
    margin-bottom: 1rem;
}
.cards h6{
    font-size: 1.3rem;
    font-weight: 600;
    margin-bottom: 1rem;
}

.choose-us-sec .heading-bx h2{
    margin-bottom: 3rem;
}

/* -- Counter Section -- */
.counter-sec{
    background-image:linear-gradient(235deg, rgba(255,255,255,0) 8%, rgba(89, 32, 197, 0.35) 30%,
  rgba(92, 86, 119, 0.18) 52%, rgba(255,255,255,0) 75%, rgba(238, 187, 238, 0.671) 100%);
}

.counter-content{
    text-align: center;
    box-shadow: 0 0 20px #ebebeb;
    border: 1px solid #fff;
    padding: 2rem;
    border-radius: 1rem;
}
.counter-content h6{
    font-size: 2rem;
    font-weight: 600;
    color: var(--bg-purple-shade2);
}
.counter-content p{
    font-size: 1.1rem;
}

/* --- FAQ's Section ---  */

.accordian-content {
	max-width: 500px;
}
.accordian {
	margin-bottom: 1.5rem;
	max-width: 900px;
	margin: 0 auto 1.5rem;
}

.accordian .contentBx .label {
	position: relative;
	padding: 1.5rem;
	cursor: pointer;
	display: flex;
	align-items: center;
	gap: 1rem;
	color: var(--font-colour);
	font-weight: 600;
	transition: 0.3s;
	font-size: 1.2rem;
}

.accordian .contentBx.active .label {
    color: #fff;
    background:var(--bg-purple-shade2);
	border-radius: 0.5rem 0.5rem 0 0;
}
.ques-icon {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 3rem;
	width: 3rem;
	border-radius: 0.5rem;
	background-color: var(--color-brown);
	color: var(--color-white);
}

.accordian .contentBx .label::before {
	content: '+';
	position: absolute;
	top: 50%;
	right: 20px;
	transform: translateY(-50%);
	font-size: 1.2rem;
	color: var(--font-colour);
	font-weight: 600;
    font-size: 1.8rem;
}

.accordian .contentBx.active .label::before {
	content: '-';
	color: #fff;
}

.accordian .contentBx {
	position: relative;
	border-radius: 0.5rem;
	box-shadow: 0 0px 5px #c1bebe;
}

.accordian .contentBx .acc-content {
	position: relative;
	height: 0;
	overflow: hidden;
}

.accordian .contentBx.active .acc-content {
	height: inherit;
	padding: 1.5rem 1rem;
}

.accordian .contentBx .acc-content p{
	margin: 0;
}


/* --- Testimonials Section --- */
.carousel{
    overflow-x: hidden;
    width: 100%;
    display: flex;
}
.carousel::-webkit-scrollbar{
    display: none;
}
.group{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:1rem;
    animation: spin 40s linear infinite;
    padding: 2rem 1rem 2rem 0;
}
.carousel:hover .group {
  animation-play-state: paused;
}
.test-card{
    flex: 0 0 rem;
    height: auto;
    padding: 1.8rem;
    /* border:1px solid var(--bg-purple-shade2); */
    box-shadow: 0 0 20px #ebeb;
    font-size: 3rem;
    border-radius: 1rem;
    text-align: center;
    align-content: center;
    width: 400px;
}
.test-card p{
    font-size: 1.1rem;
    text-align: left;
}

@keyframes spin {
    from{translate: 0;}
    to{translate: -100%;}
}

.test-img-bx{
    height: 70px;
    width: 70px;
    border-radius: 100%;
    overflow: hidden;
}
.test-img-bx img{
    width: 100%;
    height: 70px;
    object-fit: cover;
}
.test-content {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1rem;
}
.client-name{
    font-size: 1.3rem;
}

/* ---  TAB SECTION  --- */
.srv-content-bx {
    /* background: rgba(255, 255, 255, .04); */
    background: rgba(255, 255, 255, 0.548);
    /* border: 1px solid #5920c5; */
    border-radius: 24px;
    padding: 30px;
    transition: .4s;
    position: relative;
    overflow: hidden;
    box-shadow: 0 0 20px #ebeb;
}
.srv-content-bx::before {
    content: '';
    position: absolute;
    width: 250px;
    height: 250px;
    background: rgb(37 37 37 / 4%);
    border-radius: 50%;
    top: -50px;
    right: -50px;
}

/* TAB BUTTONS */

.compare-category-section .heading-bx h2{
    margin-bottom: 1rem;
}
.compare-category-section .heading-bx{
    margin-bottom: 2rem;
}

.compare-tabs{
    width: fit-content;
    margin: 0 auto 60px;
    padding: 10px;
    border-radius: 18px;

    background: rgba(255,255,255,.05);

    border: 1px solid rgba(255,255,255,.08);

    display: flex;
    align-items: center;
    gap: 12px;

    backdrop-filter: blur(16px);
}

.tab-btn{
    border: none;
    outline: none;
    padding: 16px 28px;
    border-radius: 14px;
    background: transparent;
    color: #d8d4ea;
    font-size: 16px;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
    transition: .35s ease;
}

.tab-btn.active{
    background: linear-gradient(135deg,#5920c5,#7c4dff);
    color: #fff;
    box-shadow: 0 10px 30px rgba(89,32,197,.35);
}

.tab-btn:hover{
    color: #fff;
}

/* TAB CONTENT */

.tab-content{
    display: none;
    animation: fade .5s ease;
}

.tab-content.active{
    display: block;
}

/* ANIMATION */

@keyframes fade{

    from{
        opacity: 0;
        transform: translateY(15px);
    }

    to{
        opacity: 1;
        transform: translateY(0);
    }

}

.tab-content .quotes-btn .get-quote{
    width: 170px;
    margin-top: 1rem;
    background: var(--bg-purple-shade2);
    color: var(--white-color);
    padding: 0.8rem;
}
.tab-content .quotes-btn .get-quote:hover{
    transform: translateY(-5px);
    background: var(--btn-hover-color);
    color: var(--white-color);
}

/* --- Process Section --- */
.process-sec{
    background: linear-gradient(235deg, rgba(255, 255, 255, 0) 8%, rgba(89, 32, 197, 0.35) 30%, rgba(92, 86, 119, 0.18) 52%, rgba(255, 255, 255, 0) 75%, rgba(238, 187, 238, 0.671) 100%);
}
.step-box{
    position: relative;
    padding: 2rem;
    box-shadow: 0 0 20px #ebebeb;
    background: linear-gradient(180deg, #fbf7ff, #f9f8fc 45.31%, #f5f2f9);
}

.step-number{
    position: absolute;
    top: -10px;
    left: 25px;
    transform: translateY(-50%);
    font-size:2rem;
    padding-block: 5px;
    text-align: center;
    border-radius: 5px;
    background-color: #ebebeb;
    min-width: 50px;
    font-weight:bold;
    color: #5c5677;
}
.process-sec .heading-bx{
    margin-bottom: 7rem;
}
.step-box:hover .step-number{
    background: var(--bg-purple-shade2);
    color: var(--white-color);
}