/* font-family: "Poppins", sans-serif; */
:root{
    --font-colour: #040222;
    --bg-color1:#1a1036;
    --white-color:#fff;
    --bg-purple-shade1:#1c113b;
    --bg-purple-shade2:#5920c5;
    --bg-purple-shade3:#5c5677;


    --transition:0.3s ease-in-out;
}
*{
    margin: 0px;
	padding: 0px;
	border: none;
	outline: none;
	box-sizing: border-box;
}

body{
    color: var(--font-colour);
	font-size: 1.2rem;
    font-family: "Cuprum", sans-serif;
}
ul{
    padding: 0;
    margin: 0;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}

.get-quote{
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--white-color);
    padding: 0.5rem 0;
    border-radius: 0.5rem;
    color: var(--font-colour);
    transition: var(--transition);
}
.get-quote:hover{
    background: #f79443;
    color: var(--white-color);
}
.heading-bx{
    text-align: center;
}

.heading-bx h2{
    font-size: 3rem;
    font-weight: 600;
}

/* --- reusable Code --- */
.sec-padding{
    padding: 3rem 0;
}

/* --- Header --- */
header{
    padding: 1.5rem 0;
    background: var(--bg-color1);
    border-bottom: 1px solid var(--bg-purple-shade1);
}
.nav-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav-links-bx{
    display: flex;
    align-items: center;
    gap: 2rem;
}
.nav-links-bx ul{
    display: flex;
    align-items: center;
    gap:1rem;
}
.nav-links-bx ul li a{
    color: var(--white-color);
}
.other-nav-link ul{
    display: flex;
    align-items: center;
    gap: 1rem;
}
.other-nav-link ul li a{
    color: var(--white-color);
}
.other-nav-link ul li .get-quote{
    display: flex;
    align-items: center;
    background: var(--white-color);
    padding: 0.5rem 1.5rem;
    border-radius: 0.5rem;
    color: var(--font-colour);
    transition: var(--transition);
}
.other-nav-link ul li .get-quote:hover{
    background: #f79443;
    color: var(--white-color);
}
.logo{
    color: var(--white-color);
}

/* --- Hero section --- */
.hero-sec{
    background-image:  linear-gradient(180deg,var(--bg-purple-shade1) 0%, var(--bg-purple-shade2) 40%, var(--bg-purple-shade3) 100%);
}
.hero-content-bx h1{
    font-size: 4rem;
    color: var(--white-color);
    margin-bottom: 1rem;
}
.hero-content-bx h1 span{
    color: #f79443;
}
.hero-content-bx p{
    color: var(--white-color);
    margin-bottom: 2rem;
}
.hero-content-bx .get-quote{
    width: 180px;
    margin-bottom: 3rem;
}

.insurance-type{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--white-color);
    border-radius: 0.8rem;
    padding: 1.5rem 1rem;    
}
.insurance-type ul{
    display: flex;
    align-items: center;
    gap: 1rem;
}
.insurance-type ul li{
    padding: 0.7rem 1.5rem;
    border-radius: 0.5rem;
    box-shadow: 0 0 15px #a7a7a7;
    transition: var(--transition);
}
.insurance-type ul li:hover{
    transform: translateY(-5px);
}
.insurance-type ul li a{
    color: var(--font-colour);
}

.insurance-type .get-quote{
    width: 140px;
    background:#f79443;
    color: var(--white-color);
    margin-bottom: inherit;
}

.insurance-type-title {
    font-size: 1.5rem;
}

.slider-bx{
    height: 227px;
    background: #fff;
    border-radius: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* -- Expertize Section -- */

.expertize-items{
    display: flex;
    align-items: center;
    justify-content: center;
}
.expertize-items img{
    width: 60%;
}
.cards{
    padding: 2rem;
    position: relative;
    z-index: 1;
    border-radius: 1rem;
    overflow: hidden;
    background: linear-gradient(180deg, #fbf7ff, #f9f8fc 45.31%, #f5f2f9);
}
.cards::after{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    height: 200px;
    width: 170px;
    background-image: url(../img/circle-shape1.svg);
    background-repeat: no-repeat;
    z-index: 5;
}
.card-img{
    margin-bottom: 1rem;
}
.cards h6{
    font-size: 1.3rem;
    font-weight: 600;
    margin-bottom: 1rem;
}

.choose-us-sec .heading-bx h2{
    margin-bottom: 3rem;
}

/* -- Counter Section -- */
.counter-sec{
    background-image:linear-gradient(235deg, rgba(255,255,255,0) 8%, rgba(89, 32, 197, 0.35) 30%,
  rgba(92, 86, 119, 0.18) 52%, rgba(255,255,255,0) 75%, rgba(238, 187, 238, 0.671) 100%);
}

.counter-content{
    text-align: center;
    box-shadow: 0 0 20px #ebebeb;
    border: 1px solid #fff;
    padding: 2rem;
    border-radius: 1rem;
}
.counter-content h6{
    font-size: 2rem;
    font-weight: 600;
    color: var(--bg-purple-shade2);
}
.counter-content p{
    font-size: 1.1rem;
}

/* --- FAQ's Section ---  */

.accordian-content {
	max-width: 500px;
}
.accordian {
	margin-bottom: 1.5rem;
	max-width: 800px;
	margin: 0 auto 1.5rem;
}

.accordian .contentBx .label {
	position: relative;
	padding: 1.5rem;
	cursor: pointer;
	display: flex;
	align-items: center;
	gap: 1rem;
	color: var(--font-colour);
	font-weight: 600;
	transition: 0.3s;
	font-size: 1.2rem;
}

.accordian .contentBx.active .label {
    color: #fff;
    background:var(--bg-purple-shade2);
	border-radius: 0.5rem 0.5rem 0 0;
}
.ques-icon {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 3rem;
	width: 3rem;
	border-radius: 0.5rem;
	background-color: var(--color-brown);
	color: var(--color-white);
}

.accordian .contentBx .label::before {
	content: '+';
	position: absolute;
	top: 50%;
	right: 20px;
	transform: translateY(-50%);
	font-size: 1.2rem;
	color: var(--font-colour);
	font-weight: 600;
    font-size: 1.8rem;
}

.accordian .contentBx.active .label::before {
	content: '-';
	color: #fff;
}

.accordian .contentBx {
	position: relative;
	border-radius: 0.5rem;
	box-shadow: 0 0px 5px #c1bebe;
}

.accordian .contentBx .acc-content {
	position: relative;
	height: 0;
	overflow: hidden;
}

.accordian .contentBx.active .acc-content {
	height: inherit;
	padding: 1.5rem 1rem;
}

.accordian .contentBx .acc-content p{
	margin: 0;
}


/* --- Testimonials Section --- */
.carousel{
    overflow-x: hidden;
    width: 100%;
    display: flex;
}
.carousel::-webkit-scrollbar{
    display: none;
}
.group{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:1rem;
    animation: spin 40s linear infinite;
    padding: 2rem 1rem 2rem 0;
}
.carousel:hover .group {
  animation-play-state: paused;
}
.test-card{
    flex: 0 0 rem;
    height: auto;
    padding: 1.8rem;
    /* border:1px solid var(--bg-purple-shade2); */
    box-shadow: 0 0 20px #ebeb;
    font-size: 3rem;
    border-radius: 1rem;
    text-align: center;
    align-content: center;
    width: 400px;
}
.test-card p{
    font-size: 1.1rem;
    text-align: left;
}

@keyframes spin {
    from{translate: 0;}
    to{translate: -100%;}
}

.test-img-bx{
    height: 70px;
    width: 70px;
    border-radius: 100%;
    overflow: hidden;
}
.test-img-bx img{
    width: 100%;
    height: 70px;
    object-fit: cover;
}
.test-content {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1rem;
}
.client-name{
    font-size: 1.3rem;
}